/** Slider accueil **/
#slideshow{
	height: 100%;
	position: relative;
}
#slideshow div, #slideshow ul, #slideshow ul li{
	height: 100%;
}
#slideshow ul li{
	margin: 0 !important;
}
#slideshow ul li img{
	height: auto;
	width: 100%;
}
/** Fin Slider accueil **/


/** Slider contenu **/
.slider-content{
	max-height: 500px;
	overflow: hidden;
	clear: both;
	text-align: center;
	position: relative;
}
.slider-content .bx-viewport{
	margin: 0 50px;
	width: auto !important;
	height: auto !important;
}
.slider-content div, .slider-content ul, .slider-content ul li{
	max-height: 500px !important;
}
.slider-content ul li{
	margin: 0;
}
.slider-content ul li img{
	max-width: 100%;
	max-height: 500px;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.slider-content .bx-controls-direction{
	height: auto !important;
}
.slider-content .bx-controls-direction a{
	position: absolute;
	top: 45%;
	top: calc(50% - 20px);
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background: url('../images/arrow_slider.png') no-repeat 0 center;
}
.slider-content .bx-controls-direction a.bx-prev{
	left: 0;
	background-position: 0 center;
}

.slider-content .bx-controls-direction a.bx-next{
	right: 0;
	background-position: 100% center;
}
/** Fin Slider contenu **/

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url('../images/bx_loader.gif') center center no-repeat;
	background-color: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}
.flex-direction-nav a.disabled{
	display: none;
}
.bx-controls-direction a.disabled{
	display: none;
}