
/**** DEBUT STYLE DE BASE ****/

*{
	padding: 0;
	margin: 0;
}

div, a, p, span, td, th, caption, li, h1, h2, h3, h4, legend, input, label, textarea, article, section, header{
	color: #072e5e;
	font-size: 15px;
	line-height: 1.2em;
	font-family: 'Roboto', sans-serif;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

a, p, textarea, input[type="text"], input[type="email"], input[type="submit"], input[type="password"]{
	-webkit-appearance: none;
}

img{
	vertical-align: bottom;
	border: none;
}

p{
	margin: 10px 0;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/**** STYLE DES TITRES ****/

h1, h2, h3, h4{
	margin: 10px 0;
	line-height: 1;
}

h1{
	font-size: 25px;
	font-weight: 700;
	margin: 0 0 20px 0;
	color: #072e5e;
	text-transform: uppercase;
}

h2{
	font-size: 25px;
	font-weight: 400;
	color: #c04d51;
	margin: 25px 0 20px 0;
}

h3{
	font-size: 18px;
	font-weight: 700;
}

h4{
	font-size: 16px;
}

/**** STYLE DES LISTES ****/

ul li{
	list-style-type: disc;
	list-style-position: inside;
	margin: 5px 0;
}

nav ul li{
	list-style: none;
}

/**** STYLE DES TABLEAUX ****/

table{
	border-collapse: collapse;
}

table td, table th{
	background-color: #fff;
	padding: 5px 7px;
	border: 1px solid #000;
}

table caption{
	background-color: #fff;
	padding: 5px 7px;
}

/**** STYLE DES FORMULAIRES ****/

form fieldset{
	border: none;
}

form legend{
	display: none;
	margin: 0 0 20px 0;
	font-size: 25px;
	color: #c04d51;
	font-weight: 400;
}

form label{
	margin: 10px 0;
	display: block;
	margin-right: 10px;
	font-size: 15px;
	color: #072e5e;
	vertical-align: middle;
}

form fieldset >div{
	margin: 0 0 10px 0;
	clear: both;
	position: relative;
}

form input, form textarea{
	margin: 0;
	display: inline-block;
	width: 100%;
	padding: 11px 10px;
	border: none;
	color: #072e5e;
	border: 2px solid #dedede;
	font-size: 15px;
	vertical-align: middle;
}

form textarea{
	resize: none;
	height: 130px;
}
form .textarea{
}
form .layout1 label{
	min-width: 145px;
	display: inline-block;
}
form .layout1 input{
	width: 71.8%;
}

form .layout2-right{
	text-align: right;
}
form .layout2-right label{
	text-align: left;
}
form .layout2, 
form .layout3{
	display: inline-block;
	width: 49.5%;
}
form .layout2 label, 
form .layout3 label{
	min-width: 80px;
	display: inline-block;
}

form .layout2 input{
	width: 175px;
	display: inline-block;
}

form .layout3{
	width: 239px;
}

form input:focus, form textarea:focus{
	outline: none;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder{
	color: #cbcbcb;
	font-size: inherit;
}

form input:-moz-input-placeholder, form textarea:-moz-input-placeholder{
	color: #cbcbcb;
	font-size: inherit;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder{
	color: #cbcbcb;
	font-size: inherit;
}

form input[type="radio"], form input[type="checkbox"]{
	width: auto;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	vertical-align: middle;
}

input[type="submit"], input[type="reset"]{
	width: auto;
	display: block;
	cursor: pointer;
	border: none;
	margin: 40px auto 0 auto;
	padding: 10px 30px 10px 30px;
	border: 3px solid #12345e;
	background-color: transparent;
	color: #12345e !important;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	position: relative;
	line-height: 1.2;
	font-weight: 700;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover{
	border-color: #c15155;
}

.iradio, .icheck{
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
	border: 1px solid #12345e;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	position: relative;
}
.icheck{
	border-radius: 0;
}
.iradio.checked:after, .icheck.checked:after{
	content: "";
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	border-radius: 20px;
	background-color: #12345e;
}

.powermail_radio_inner input, .powermail_checkbox_inner input{
	width: 20px;
	height: 20px;
}
.powermail_radio_inner label, .powermail_checkbox_inner label{
	display: inline-block;
	max-width: 95%;
	vertical-align: middle;
}

body{
	margin: 0 auto;
	-webkit-text-size-adjust: 100%;
}

.csc-textpic-imagewrap{
	text-align: center;
}
.csc-textpic-imagewrap ul li{
	margin: 0 5px !important;
	list-style: none !important;
	display: inline-block;
}
div.csc-textpic .csc-textpic-imagewrap img{
	margin: 0 auto;
}
.csc-textpic-caption{
	text-align: center;
	font-size: 12px;
	margin: 5px 0;
}

/**** FIN STYLE DE BASE ****/
/**** STYLE BOUTONS / TEXTE ****/

.bt-bleu, .powermail_fieldwrap_file {
	display: inline-block;
	padding: 16px 15px;
	font-weight: 300;
	background-color: #12345e;
	color: #fff !important;
	font-size: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	position: relative;
}
.bt-bleu:hover, .powermail_fieldwrap_file:hover{
	background-color: #c35559;
}

.bt-bordure, .bt-back{
	display: inline-block;
	padding: 10px 15px;
	font-weight: 300;
	border: 3px solid #fff !important;
	color: #fff !important;
	font-size: 20px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
}
.bt-bordure:after, .bt-bordure:before{
	content: "";
	display: inline-block;
	margin-top: -3px;
	background: url('../images/icon_feuille.png') no-repeat center center;
	width: 18px;
	height: 12px;
	vertical-align: middle;
}
.bt-bordure:after{
	margin-left: 15px;
}
.bt-bordure:before{
	margin-right: 15px;
}
.bt-bordure:hover{
	border-color: #12345e !important;
	text-decoration: none;
}

.bt-back{
	border-color: #12345e !important;
	color: #12345e !important;
	font-size: 14px;
	float: right;
	margin-top: -35px;
}
.bt-back:hover{
	border-color: #c04d51 !important;
	text-decoration: none;
}

.bt-download, .powermail_fieldwrap_file {
	background-image: url('../images/icon_download.png');
	background-repeat: no-repeat;
	background-position: 15px center;
	padding-left: 40px;
}

.align-center{
	text-align: center;
}

.txt-rouge{
	color: #c04d51 !important;
}

.txt-bleu{
	color: #12345e !important;
}

/**** FIN STYLE BOUTONS / TEXTE ****/
/**** STYLE ACCUEIL ****/

.content-inner{
	padding: 0 20px;
}

header{
	background-color: #1d4e8a;
	height: 71px;
	border-top: 4px solid #58779e;
	position: fixed;
	width: 100%;
	z-index: 10;
}

header .content-inner{
	padding: 0;
	height: 100%;
}

header p{
	margin: 0;
}

#logo{
	float: left;
	width: 12.5%;
	padding: 0 20px;
	text-align: center;
	height: 100%;
}
#logo img{
	max-width: 100%;
	height: auto;
}

#main-menu{
	width: 62.5%;
	float: left;
	height: 75px;
	margin-top: -4px;
	position: relative;
	z-index: 1;
}
#main-menu .mobile-menu{
	display: none;
}
#main-menu >ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	height: 100%;
}
#main-menu >ul >li{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	display: table;
	margin: 0;
	position: relative;
}
#main-menu >ul >li.home{
	display: none;
}
#main-menu >ul >li >a{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-top: 4px solid transparent;
	background: url('../images/bg_link_menu.png') no-repeat center top;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 1;
}
#main-menu >ul >li:hover >a, #main-menu >ul >li.active >a{
	border-color: #fff;
	background: url('../images/bg_link_menu_hover.png') no-repeat center top;
}
#main-menu >ul >li >a:after{
	content: "";
	position: absolute;
	background: url('../images/bg_link_menu.png') no-repeat center top;
	z-index: -1;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;	
	-webkit-transition: all 0.3s 0.2s ease-in-out;
	   -moz-transition: all 0.3s 0.2s ease-in-out;
			transition: all 0.3s 0.2s ease-in-out;
}
#main-menu >ul >li:hover >a:after, #main-menu >ul >li.active >a:after{
	height: 84px;
	background: url('../images/bg_link_menu_hover.png') no-repeat center top;
	background-color: #12345e;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

}
#main-menu >ul >li:hover >ul, #main-menu >ul >li:focus >ul{
	visibility: visible;
	-webkit-transform: scaleY(1);
	   -moz-transform: scaleY(1);
			transform: scaleY(1);
	-webkit-transition: all 0.3s 0.15s ease-in-out;
	   -moz-transition: all 0.3s 0.15s ease-in-out;
			transition: all 0.3s 0.15s ease-in-out;
}
#main-menu >ul >li >ul{
	position: absolute;
	top: 100%;
	width: 200px;
	background-color: #1d4e8a;
	left: 0;
	text-align: left;
	padding: 12px 0 0 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	   -moz-transform: scaleY(0);
			transform: scaleY(0);
	-webkit-transform-origin: center top;
	   -moz-transform-origin: center top;
			transform-origin: center top;
	-webkit-transition: all 0.3s 0s ease-in-out;
	   -moz-transition: all 0.3s 0s ease-in-out;
			transition: all 0.3s 0s ease-in-out;
}
#main-menu >ul >li >ul li{
	/*list-style: disc;
	list-style-position: inside;*/
	color: #fff;
	margin: 0;
}
#main-menu >ul >li >ul li a:before{
	content: "•";
	font-size: 15px;
	color: #fff;
	position: absolute;
	top: 10px;
	left: 15px;
}
#main-menu >ul >li >ul li a{
	color: #fff;
	display: block;
	position: relative;
	width: 100%;
	padding: 10px 15px 10px 25px;
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
#main-menu >ul >li >ul li:hover a{
	background-color: #12345e;
	text-decoration: none;
}

#right-header{
	float: right;
	width: 25%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,0.1);
}

#social-network, #search{
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}

#social-network p{
	color: #fff;
	font-size: 13px;
	padding: 18px 20px;
	vertical-align: middle;
}
#social-network a{
	margin-left: 5px;
	vertical-align: middle;
}

#logout .connexion{
	display: none;
}
#logout{
	float: right;
	position: absolute;
	top: 16px;
	right: 15px;
}
#logout fieldset >div{
	margin: 0 !important;
}
#logout input[type="submit"]{
	border: none;
	padding: 0;
	width: 32px;
	height: 32px;
	margin: 0;
	background: url('../images/icon_logout.png') no-repeat center center;
	text-indent: -9999px;
}

body form.gsc-search-box{
	margin: 0;
}
body table.gsc-search-box{
	margin: 0;
}
body .cse .gsc-control-cse, body .gsc-control-cse{
	background-color: transparent;
	border: none;
	padding: 0;
}
body .cse .gsc-control-cse table td, 
body .gsc-control-cse table td{
	background-color: transparent;
	border: none;
	padding: 0;
}
body .gsc-search-box-tools .gsc-search-box .gsc-input{
	padding: 0;
}
body .gsc-input-box{
	height: auto;
	border: none;
	background-color: transparent;
}
body .gsib_b{
	display: none;
}
body button.gsc-search-button, 
body button.gsc-search-button:hover, 
body button.gsc-search-button:focus{
	background: none;
	height: auto;
	margin: 0;
	width: auto;
	padding: 0;
	position: relative;
}
body td.gsc-search-button button{
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#search{
	background-color: #000;
	background-color: rgba(0,0,0,0.1);
	position: relative;
}
#search input[type="text"]{
	padding: 25px 15px 25px 15px !important;
	width: 100% !important;
	background-color: #fff !important;
	border: none;
	/*color: #fff;*/
	font-size: 14px;
}
#search input[type="submit"],
#search td.gsc-search-button{
	background: url('../images/icon_search.png') no-repeat center center;
	height: 64px !important;
	width: 60px !important;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -9999px;
	margin: 0;
	border: none;
	background-color: #fff !important;
}

#wrap{
	position: relative;
	z-index: 1;
	padding-top: 71px;
}

.body-home #top{
	height: 500px;
}
#top{
	height: 145px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

#map-top{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 90;
	background-color: #12345e;
	background-color: rgba(18,52,94,0.8);
	text-align: center;
	padding: 15px 5px;
	width: 375px;
}
#map-top img{
	max-width: 100%;
	height: auto;
}

.body-home #left{
	background: url('../images/bg_body.png') repeat 0 0;
}
#left{
	width: 75%;
	float: left;
}

.body-home #bottom{
	padding: 0 15px 55px 15px;
	background: transparent;
}
#bottom{
	padding: 0 0px 55px 0;
	background-color: #fff;
}

.block-home{
	float: left;
	width: 33.3%;
	padding: 0 5px;
	margin: -120px 0 0 0;
	position: relative;
	z-index: 1;
}
.block-home p a{
	text-decoration: underline;
}
.block-home .title{
	padding: 5px 20px 5px 40px;
	display: inline-block;
	border-radius: 0 0 30px 0;
	background: url('../images/icon_title.png') no-repeat 20px center;
	margin: 0 0 10px 0;
	position: relative;
	height: 85px;
	line-height: 78px;
	background-color: #fff;
}
.block-home .title:after{
	content: "";
	position: absolute;
	right: 50px;
	bottom: -10px;
	border-top: 10px solid #fff;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.block-home .title p{
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;	
	display: inline-block;
	vertical-align: middle;
}
.block-home .title p span{
	color: inherit;
	line-height: 1;
	font-size: inherit;
}

.list-article .article{
	position: relative;
	cursor: pointer;
}
.list-article .image{
	float: left;
	width: 95px;
	height: 95px;
	margin-right: 15px;
	overflow: hidden;
}
.list-article .image img{
	width: 100%;
	height: auto;
}

.list-article .info{
	margin-left: 110px;
	height: 95px;
}
.list-article .bt-more{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 115px;
	background-color: #072e5e;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
.list-article .bt-more p{
	display: table;
	width: 100%;
	height: 100%;
}
.list-article .bt-more a{
	color: #fff !important;
	display: block;
	font-size: 15px;
	text-align: center;
	display: table-cell;
	width: 100%;
	text-decoration: none;
	vertical-align: middle;
}
.list-article .bt-more a span{
	color: inherit;
	font-size: inherit;
	display: block;
	line-height: 1;
}
.list-article .bt-more .animation-more{
	display: block;
	position: relative;
	margin: 0 auto;
	bottom: 20px;
	width: 48px;
}
.list-article .bt-more .animation-more span{
	display: block;
	width: 48px;
	border-top: 2px solid #58779e;
	width: 0;
	-webkit-transition: all 0.3s 0.4s ease-in-out;
	   -moz-transition: all 0.3s 0.4s ease-in-out;
			transition: all 0.3s 0.4s ease-in-out;
}
.list-article .bt-more .animation-more:before,
.list-article .bt-more .animation-more:after{
	content: "";
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
			transform: scale(0);
	-webkit-transition: all 0.3s 0.6s ease-in-out;
	   -moz-transition: all 0.3s 0.6s ease-in-out;
			transition: all 0.3s 0.6s ease-in-out;
	position: relative;
	display: inline-block;
	float: left;
	bottom: 7px;
	width: 16px;
	height: 16px;
	margin-left: -16px;
	background: url('../images/icon_more_left.png') no-repeat center center;
}
.list-article .bt-more .animation-more:after{
	float: right;
	width: 12px;
	bottom: 9px;
	margin-left: 0;
	margin-right: -12px;
	-webkit-transition-delay: 0.2s;
	   -moz-transition-delay: 0.2s;
			transition-delay: 0.2s;
	background: url('../images/icon_more_right.png') no-repeat center center;
}
	
.list-article .article:hover .bt-more{
	opacity: 1;
}
.list-article .article:hover .bt-more .animation-more:before,
.list-article .article:hover .bt-more .animation-more:after{
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
			transform: scale(1);
	-webkit-transition: all 0.3s 0.2s ease-in-out;
	   -moz-transition: all 0.3s 0.2s ease-in-out;
			transition: all 0.3s 0.2s ease-in-out;
}
.list-article .article:hover .bt-more .animation-more:after{
	-webkit-transition-delay: 0.6s;
	   -moz-transition-delay: 0.6s;
			transition-delay: 0.6s;
}
.list-article .article:hover .bt-more .animation-more span{
	width: 48px;
	-webkit-transition: all 0.3s 0.4s ease-in-out;
	   -moz-transition: all 0.3s 0.4s ease-in-out;
			transition: all 0.3s 0.4s ease-in-out;
}

.list-article h2{
	text-transform: none;
	font-size: 15px;
	font-weight: 700;
	margin: 0 0 5px 0;
}
.list-article h2 a{
	line-height: 1;
}
.list-article p{
	font-size: 14px;
	margin: 0;
}
/*.list-article p:first-letter{
	color: inherit !important;
	font-size: inherit !important;
}*/
.list-article .article{
	padding: 20px;
	background-color: #fff;
	border-bottom: 2px solid #c3575b;
	margin-bottom: 10px;
}

#list-event .list-article .article{
	display: table;
	width: 100%;
	min-height: 135px;
	padding: 0;
	position: relative;
}
#list-event .list-article .date{
	vertical-align: middle;
	height: 100%;
	display: table-cell;
	width: 115px;
	border-right: 1px solid #fff;
	background-color: #8c0b11;
}
#list-event .list-article .content-date{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}
#list-event .list-article .content-date p{
	color: #fff;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
}
#list-event .list-article .content-date p span{
	font-size: 40px;
	color: inherit;
	font-weight: 700;
	display: inline-block;
}
#list-event .list-article .content-date p strong{
	display: block;
}

#list-event .list-article .right{
	display: table-cell;
}
.body-home #list-event .list-article .image{
	height: 65px;
}
#list-event .list-article .image{
	display: block;
	float: none;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#list-event .list-article .image img{
	width: 100%;
	height: auto;
	position: absolute;
	
}

#list-event .list-article .info{
	margin: 0;
	padding: 10px 20px;
	height: auto;
}

#list-event .list-article h2{
	text-transform: uppercase;
	margin: 0;
}

#list-news, #news{
	position: relative;
}

#list-news .title, #news .title{
	background-position: 20px 25px;
	position: relative;
	margin-right: 85px;
}

#list-news .bt-news, #news .bt-news{
	height: 85px;
	float: right;
	text-align: center;
	color: #fff;
	background: url('../images/icon_news.png') no-repeat center 10px;
	padding: 45px 0 0 0px;
	width: 85px;
	margin: -0px -0px -0px -20px;
	position: absolute;
	top: 0;
	right: 5px;
	line-height: 1;
	text-decoration: none;
}
#list-news .bt-news:before, #news .bt-news:before{
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	right: 0px;
	left: -30px;
	border-radius: 0 0 30px 0;
	background-color: #072e5e;
	z-index: -1;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
#list-news .bt-news:hover:before, #news .bt-news:hover:before{
	background-color: #c04d51;
}
#list-news .list-article .info{
	margin: 0;
	height: auto;
}

#list-event .list-article .image{
	height: 130px;
}

#right{
	width: 25%;
	float: left;
}

#top-right{
	padding: 20px;
	background: url('../images/bg_body.png') repeat 0 0;
}

#other-menu ul li{
	display: block;
	margin: 12px 0 0 0;
	border: 3px solid #072e5e;
	float: left;
	clear: left;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
#other-menu ul li:first-child{
	margin: 0;
}

#other-menu ul li a{
	display: inline-block;
	color: #072e5e;
	font-size: 14px;
	text-transform: uppercase;
	padding: 14px 20px 14px 60px;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	position: relative;
}
#other-menu ul li a:before{
	content: "";
	position: absolute;
	width: 50px;
	height: 45px;
	background: url('../images/icon_other_menu.png') no-repeat 0 0;
	left: 5px;
	top: 45%;
	top: -webkit-calc(50% - 22px);
	top: calc(50% - 22px);
}
#other-menu ul li:hover{
	background-color: #072e5e;
	color: #fff;
}
#other-menu ul li:hover a{
	color: #fff;
}

#other-menu ul li.decheterie a:before{background-position: 0 0;}
#other-menu ul li.decheterie:hover a:before{background-position: 100% 0;}
#other-menu ul li.reservation a:before{background-position: 0 33%;}
#other-menu ul li.reservation:hover a:before{background-position: 100% 33%;}
#other-menu ul li.communaute a:before{background-position: 0 66%;}
#other-menu ul li.communaute:hover a:before{background-position: 100% 66%;}
#other-menu ul li.ecoles a:before{background-position: 0 100%;}
#other-menu ul li.ecoles:hover a:before{background-position: 100% 100%;}

#bottom-right{
	padding: 20px;
	background-color: #12345e;
}
#bottom-right *{
	color: #fff;
}
#bottom-right .title p{
	color: #58779e;
	font-weight: 900;
	font-size: 25px;
	text-transform: uppercase;
	background: url('../images/icon_title_blue.png') no-repeat left center;
	padding-left: 20px;
	margin: 0 0 10px 0;
}

#bottom-right p{
	margin: 0;
	font-weight: 300;
}

#bottom-right .bt-bordure{
	font-size: 18px;
	padding: 10px 5px;
	margin-top: 25px;
}
#bottom-right .bt-bordure:hover{
	border-color: #c04d51 !important;
}
#bottom-right .bt-bordure:before{
	margin-right: 10px;
}
#bottom-right .bt-bordure:after{
	margin-left: 10px;
}

#copyright{
	padding: 20px;
}
#copyright ul{
	text-align: right;
}
#copyright ul li{
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #12345e;
	font-size: 12px;
	height: 10px;
	line-height: 10px;
}
#copyright ul li:first-child{
	border: none;
	display: block;
}
#copyright ul li:last-child{
	border: none;
}
#copyright ul li a{
	line-height: 1;
	font-size: inherit;
}

.clear{
	clear: both;
}

/**** FIN STYLE ACCUEIL ****/
/**** STYLE HISTOIRE ****/

#headband{
	height: 100%;
}
#headband .csc-textpic-imagewrap{
	margin: 0 !important;
}
#headband .csc-textpic-imagewrap ul li{
	display: block;
	margin: 0 !important;
}
#headband img{
	width: 100%;
	height: auto;
}

#main-title{
	position: absolute;
	bottom: 0;
	padding: 0 5%;
}
#main-title h1{
	padding: 15px 30px 15px 45px;
	background: url('../images/icon_title.png') no-repeat 20px center;
	background-color: #fff;
	color: #072e5e;
	font-size: 25px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
}

#breadcrumb {
	color: #1c3d68;
	font-size: 12px;
	padding: 20px 0;
	line-height: 1.2;
}
#breadcrumb a:first-child{
	background: url('../images/icon_home.png') no-repeat left top;
	padding-left: 20px;
}
#breadcrumb a{
	font-weight: 700;
}
#breadcrumb a, #breadcrumb span{
	color: inherit;
	font-size: inherit;
	padding-top: 2px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	line-height: 1;
}
#breadcrumb a:hover{
	color: #c04d51;
}

#left-main{
	float: left;
	width: 66.66%;
	padding: 0 5%;
}
#left-main .disconnect input[type="submit"]{
	margin: 0;
}
#left-main .connexion{
	margin-top: 40px;
}
#left-main .connexion .error{
	margin: 0 0 20px 0;
}
#left-main .connexion .layout2{
	padding-right: 10px;
}
#left-main .connexion .layout2.layout2-right{
	padding-right: 0;
	padding-left: 10px;
}
#left-main .connexion input[type="text"], #left-main .connexion input[type="password"]{
	width: 100%;
}
#left-main .connexion input[type="submit"]{
	margin: 20px auto 0 auto;
}
/*#left-main p:first-of-type:first-letter{
	color: #c04d51;
	font-size: 30px;
}*/
#left-main #content-main p a,
#left-main #content-main p span,
#left-main #content-main li a,
#left-main #content-main li span{
	font-size: inherit;
}
#left-main #content-main p img{
	vertical-align: middle;
}
#left-main #content-main p a{
	vertical-align: middle;
}
#left-main #content-main a{
	color: #c04d51;
}

.lb-data .lb-caption{
	font-size: 14px;
	color: #fff;
}

#right-main{
	float: left;
	width: 33.33%;
	overflow: hidden;
}
#right-main .csc-textpic-left .csc-textpic-imagewrap li{
	width: 50%;
}
#right-main ul li{
	float: left;
	list-style: none;
	margin: 0;
	margin: 0 !important;
	max-width: 100%;
}
#right-main ul li .csc-textpic-caption{
	margin: 0;
	text-align: left;
}
#right-main ul li img{
	max-width: 100%;
	height: auto;
}

/**** FIN STYLE HISTOIRE ****/
/**** STYLE ASSOCIATION ****/

#map_canvas{
	width: 100%;
	height: 400px;
}

/*.tx-powermail p:first-letter{
	color: inherit !important;
	font-size: inherit !important;
}*/

.bt-file, .powermail_fieldwrap_file {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}
.bt-file input[type="file"], .powermail_fieldwrap_file .powermail_fieldwrap_file_inner{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
}

.bt-file p, .powermail_fieldwrap_file label{
	color: inherit;
	margin: 0;
}

/**** FIN STYLE ASSOCIATION ****/
/**** STYLE RESERVATION ****/

.form-booking fieldset{
	margin-bottom: 20px;
}
.form-booking legend{
	display: block;
}
.form-booking .datepicker,
.form-booking .datepicker-form{
	margin: 0 20px 0 10px;
	max-width: 235px;
	padding-right: 40px;
	background: url('../images/icon_datepicker.png') no-repeat 90% center;
	background: url('../images/icon_datepicker.png') no-repeat right+10px center;
}
.form-booking .input-select{
	margin: 0 5px 0 0;
}
.form-booking span{
	vertical-align: middle;
	display: inline-block;
}
.form-booking span.span-middle{
	width: 75px;
}
.form-booking .potdemiel{
	display:none;
}

#booking{
	text-align: center;
	background-color: #dfdfdf;
	padding: 25px 10%;
}
#booking .calendar{
	margin: 20px 0;
}
#booking .legend-calendar{
	text-align: left;
	width: 235px;
	margin: 0 auto;
}
#booking .legend-calendar p{
	vertical-align: middle;
}
#booking .legend-calendar p:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
#booking .legend-calendar p.block-available:before{
	background-color: #12345e;
}
#booking .legend-calendar p.block-unvailable:before{
	background-color: #920202;
}
#booking .legend-calendar p.block-wait:before{
	background-color: #ce7501;
}
#booking-left .reservations-date{
	display:none;
}

/**** FIN STYLE RESERVATION ****/

.tx-powermail form.layout1 .powermail_fieldwrap_radio legend{
	display: block;
	margin: 0;
}
.tx-powermail form.layout1 .powermail_radio_inner{
	display: inline-block;
	margin: 0 10px 0 0;
}

.tx-powermail h3{
	display: none;
}

@media screen and (min-width: 751px) {

}
