<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>%subject%</title>
    <style type="text/css">
        body,td,th {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="800" height="100" align="center">
                        <f:image src="EXT:vitrolles/Resources/Public/Icons/logo-inte.png" alt="" width="161" height="106" />
                    </td>
                </tr>
                <tr>
                    <td width="800">
                        <table width="800" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="40">&nbsp;</td>
                                <td width="720">%message%<br><br></td>
                                <td width="40">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="800" height="60" align="center" style="background-color:#1d4e8a;">
                        <p style="color:#ffffff;"><f:translate key="tx_vitrolles_domain_model_reservations.email_copyright" /></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>